<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            </li>
            <li><a href="https://conserveutahvalley.org/">Conserve Utah Valley</a></li>
            <li><a href="https://greatsaltlakeaudubon.org/">Great Salt Lake Audubon</a></li>
            <li><a href="https://www.sierraclub.org/utah">Sierra Club Utah Chapter</a></li>
            <li><a href="http://uvef.org/">Utah Valley Earth Forum</a></li>
        </ul>
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Have questions or suggestions?<br>Email <a href="mailto:conserveutahlake@gmail.com">conserveutahlake@gmail.com</a></p>
      </div>
    </div>

  </div>

</footer>
